ul {
  list-style-type: none;
}
img {
  float: left;
}

i {
  color: gray;
}

.alert-success {
  color: green;
}

.alert-shown {
  opacity: 1;
  transition: all 250ms linear;
}

.alert-hidden {
  opacity: 0;
  transition: all 250ms linear;
}